@use '../../../styles' as *;

footer{
  background: $primary;
  color: #ffffff;
  padding:70px 0 25px;
  .container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
  }
}
.footer-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1.5fr 1fr 1fr;
  gap:50px;
  .logo{
    font-size:32px;
    margin-bottom:20px;
    margin-top: 0;
    span{
      color:#f2c7d8;
    }
  }
}
.footer-column{
  p{
    color: $text-light;
    line-height:1.8;
    margin-bottom:25px;
  }
  h3{
    margin-bottom:20px;
    font-size:20px;
  }
  ul{
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 20px;

      a {
        color: $text-light;
        text-decoration: none;
        transition: .3s;

        &:hover {
          color: #fff;
          padding-left: 6px;
        }
      }
    }
  }
  .contact-item{
    display:flex;
    align-items:flex-start;
    gap:12px;
    margin-bottom:18px;
    color:#d6c8cf;
    mat-icon{
      color:#f2c7d8;
      font-size:20px;
    }
  }
}

