<div class="header">
  <div class="container">
  <div class="logo">
<!--    <img src="/images/common/logo (1).jpg" alt="Q&N">-->
  </div>
    <div class="header-actions">
      <div class="search-box">
        <input type="text" placeholder="Search products..." />
        <mat-icon class="search-btn ">search</mat-icon>
      </div>

      <div class="icon-btn search">
        <mat-icon>search</mat-icon>
      </div>

      <div class="icon-btn">
        <mat-icon>favorite</mat-icon>
      </div>

      <div class="icon-btn">
        <mat-icon>perm_identity</mat-icon>
      </div>

      <div class="icon-btn shopping position-relative">
        <mat-icon>shopping_basket</mat-icon>
        <span class="cart-count">2</span>
      </div>
    </div>
  </div>
</div>

