<div class="fit-overlay">

  <div class="fit-modal">

    <!-- Close -->
    <button
      class="close-btn"
      (click)="close()">

      <span>&times;</span>

    </button>

    <!-- LEFT PANEL -->
    <div class="fit-left">

      <span class="tag">
        PERSONAL STYLIST
      </span>

      <h2>
        Find Your
        <br>
        Perfect Fit
      </h2>

      <p>
        Tell us a little about yourself and we'll recommend
        styles you'll love.
      </p>

      <form>

        <div class="form-group">

          <label>Height</label>

          <select>

            <option>Select Height</option>

            <option>4'10"</option>

            <option>5'0"</option>

            <option>5'2"</option>

            <option>5'4"</option>

            <option>5'6"</option>

            <option>5'8"</option>

          </select>

        </div>

        <div class="form-group">

          <label>Weight</label>

          <input
            type="number"
            placeholder="Enter Weight">

        </div>
        <div class="form-group">

          <label>Bust</label>

          <input
            type="number"
            placeholder="Enter Weight">

        </div>

        <div class="form-group">

          <label>Waist</label>

          <input
            type="number"
            placeholder="Enter Weight">

        </div>

        <div class="form-group">

          <label>Hip</label>

          <input
            type="number"
            placeholder="Enter Weight">

        </div>

        <div class="form-group">

          <label>Body Shape</label>

          <select>

            <option>Select</option>

            <option>Pear</option>

            <option>Apple</option>

            <option>Rectangle</option>

            <option>Hourglass</option>

          </select>

        </div>



        <button
          type="button"
          class="find-btn">

          Find My Style

        </button>

      </form>

    </div>

    <!-- RIGHT PANEL -->

    <div class="fit-right">

      <img
        src="assets/images/common/banner2.png"
        alt="">

      <div class="card">

        <h4>You'll Love</h4>

        <ul>

          <li>✓ Straight Kurtas</li>

          <li>✓ Floral Dresses</li>

          <li>✓ Cotton Co-ords</li>

          <li>✓ Anarkali Collection</li>

        </ul>

      </div>

    </div>

  </div>

</div>
