@use '../../../styles' as *;


.page-wrapper{

  position:relative;

}
/* Desktop */

.desktop-hero {
  display: none;
}

.mobile-home {
  display: none;
}


.home{
  background: #faf8f9;
  overflow: hidden;
}

.hero{

  position:relative;

  display:flex;

  width:100%;

  height:100vh;

  overflow:hidden;

}

/* LEFT */

.hero-left{

  width:50%;

  height:100%;

  overflow:hidden;

}

/* RIGHT */

.hero-right{

  width:50%;

  height:100%;

  overflow:hidden;

}

/* VIDEO */

.hero video{

  width:100%;

  height:100%;

  object-fit:cover;

  display:block;

  transform:scale(1.08);

  animation:slowZoom 20s ease-in-out infinite alternate;

}
@keyframes slowZoom{

  from{

    transform:scale(1);

  }

  to{

    transform:scale(1.08);

  }

}
.hero-left::after,
.hero-right::after{

  content:"";

  position:absolute;

  inset:0;

  background:

    linear-gradient(

        rgba(0,0,0,.20),

        rgba(0,0,0,.20)

    );

}
.hero-left,
.hero-right{

  position:relative;

}
.divider{

  position:absolute;

  left:50%;

  top:0;

  transform:translateX(-50%);

  width:2px;

  height:100%;

  z-index:10;

  background:linear-gradient(

      to bottom,

      transparent,

      #D6B56D,

      #FFF6D5,

      #D6B56D,

      transparent

  );

}
.divider-dot{

  position:absolute;

  top:25%;

  left:50%;

  transform:translate(-50%,-50%);

  width:10px;

  height:10px;

  border-radius:50%;

  background:#fff;

  box-shadow:

    0 0 25px #F7DFA0,

    0 0 50px #F7DFA0;

}


//.home {
//  display: block;
//}
.hero-card{

  position:absolute;

  left:50%;

  top:50%;

  transform:translate(-50%,-50%);

  width:520px;

  padding:60px;

  text-align:center;

  border-radius:28px;

  z-index:20;

  background:rgba(255,255,255,.18);

  backdrop-filter:blur(18px);

  border:1px solid rgba(255,255,255,.45);

  box-shadow: 0 25px 70px rgba(0,0,0,.25);
  button{
    margin-top:35px;
    width:190px;
    height:30px;
    border:none;
    border-radius:30px;
    background:$primary-light;
    color:#fff;
    font-size:11px;
    font-weight:400;
    cursor:pointer;
    transition:.3s;
    &:hover{
      transform:translateY(-3px);
      box-shadow:0 15px 30px rgba(68,3,45,.25);
    }
  }

}
.hero-card{

  animation:floatCard 5s ease-in-out infinite;
  img{
    height:100px;
    border-radius:50%;
  }

}
.btn-holder{
  width: 100%;
  /* display: grid; */
  /* grid-auto-flow: column; */
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

@keyframes floatCard{

  0%{

    transform:translate(-50%,-50%);

  }

  50%{

    transform:translate(-50%,-53%);

  }

  100%{

    transform:translate(-50%,-50%);

  }

}


.hero{


  position: relative;
  height: calc(100vh - 120px);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display:flex;
  align-items:center;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  &::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        90deg,
        rgba(255,255,255,.95) 0%,
        rgba(255,255,255,.75) 35%,
        rgba(255,255,255,0) 70%
    );
  }

  .hero-content{

    position:relative;
    z-index:2;

    max-width:1200px;
    width:100%;
    margin:auto;

    padding:0 40px;

    span{

      color:$primary;
      font-size:15px;
      letter-spacing:3px;
      text-transform:uppercase;
      font-weight:600;
    }

    h1{

      margin:20px 0;

      font-size:64px;
      line-height:1.1;
      max-width:620px;
      color:$text-color;
      i{
        color:$primary;
        font-weight: 400;
      }
    }

    p{
      max-width:500px;
      color:#666;
      line-height:1.8;
      font-size:18px;
    }

    button{
      margin-top:35px;
      width:190px;
      height:54px;
      border:none;
      border-radius:30px;
      background:$primary;
      color:#fff;
      font-size:16px;
      font-weight:600;
      cursor:pointer;
      transition:.3s;
      &:hover{
        transform:translateY(-3px);
        box-shadow:0 15px 30px rgba(68,3,45,.25);
      }
    }
  }
  .dots{
    position:absolute;
    bottom:35px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:10px;
    z-index:5;
  }

  .dot{
    width:12px;
    height:12px;
    border-radius:50%;
    background:#ddd;
    transition:.3s;
  }

  .dot.active{
    width:32px;
    border-radius:20px;
    background:#44032d;
  }
}
.category-section{
  padding: 90px 0;
  background: $bg-color;
  .container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
  }
}
.section-title{
  text-align: center;
  margin:50px;
  span{
    color:#44032d;
    font-size:14px;
    letter-spacing:3px;
    text-transform:uppercase;
    font-weight:600;
  }

  h2{
    font-size:40px;
    margin-top:12px;
    color:#222;
  }
}
.category-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:24px;
}
.category-card{
  background:$bg-color;
  border-radius:18px;
  overflow:hidden;
  transition:.35s;
  box-shadow:0 10px 25px rgba(0,0,0,.06);
  cursor:pointer;
  &:hover{
    transform:translateY(-8px);
    img{
      transform:scale(1.08);
    }
    a{
      color:#44032d;
    }
  }
}
.image{
  height:300px;
  overflow:hidden;
  img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;

    /* Show more of the upper part of the image */
    //object-position: center top;
  }
}
.content{
  padding:22px;
  h3{
    font-size:22px;
    margin-bottom:10px;
    color:#222;
  }
  a{
    text-decoration:none;
    color:#666;
    font-weight:600;
    transition:.3s;
    span{
      margin-left:8px;
    }
  }
}

.featured-products{
  padding:80px 0;
  background:$bg-color;

  .container{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
  }
}
.section-header{
  display:flex;
  justify-content:space-between;
  align-items:end;
  margin-bottom:40px;
  span{
    color:$primary;
    font-size:13px;
    letter-spacing:3px;
    text-transform:uppercase;
    font-weight:600;
  }
  h2{
    margin-top:10px;
    font-size:40px;
    color:$text-color;
  }
  .view-all{
    display:flex;
    align-items:center;
    gap:6px;
    color:$primary;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
    padding-bottom: 40px;
    &:hover{
      gap:12px;
    }
  }
}
.slider-wrapper{
  position:relative;
  overflow:hidden;
}
.slider{
  overflow:hidden;
}
.slider-track{
  display:flex;
  transition:transform .35s ease;
  gap:20px;
}
.nav{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  z-index:10;
  width:45px;
  height:45px;
  border-radius:50%;
  border:none;
  background:#fff;
  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;
}

.prev{
  left:0;
}

.next{
  right:0;
}
.product-card{
  flex: 0 0 25%; // 4 cards visible
  padding: 0 12px;
  box-sizing: border-box;
  background:$bg-color;
  border-radius:16px;
  overflow:hidden;
  //transition:.35s;
  border:1px solid #f1f1f1;
  transition:.45s cubic-bezier(.22,.61,.36,1);

  &:hover{
    //transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transform:

      translateY(-12px)

      scale(1.02);
    img{
      transform:scale(1.08);
      transition:.7s;
    }
    .cart-btn{
      background:$primary;
    }
  }
}
.product-card:hover img{

  transform:scale(1.08);

}
.product-image{
  position: relative;
  overflow: hidden;
  height:300px;
  img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
  }
  .badge{
    position:absolute;
    top:15px;
    left:15px;
    background:$primary;
    color:#fff;
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
  }
  .wishlist{
    position:absolute;
    top:15px;
    right:15px;
    width:38px;
    height:38px;
    border:none;
    border-radius:50%;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:.3s;
    &:hover{
      background:$primary;
      color:#fff;
    }
  }
}
.product-content{
  padding:20px;
  h3{
    font-size:16px;
    margin-bottom:10px;
    color:$text-color;
    min-height:44px;
  }
  .rating{
    display:flex;
    align-items:center;
    gap:2px;
    margin-bottom:15px;
    mat-icon{
      font-size:18px;
      width:18px;
      height:18px;
      color:#ffb400;
    }
    span{
      margin-left:6px;
      color:#777;
      font-size:13px;
    }
  }
  h4{
    font-size:24px;
    color:$primary;
    margin-bottom:18px;
  }
  .cart-btn{
    width:100%;
    height:45px;
    border:none;
    border-radius:8px;
    background:#222;
    color:#fff;
    cursor:pointer;
    transition:.3s;
  }
}

.subscribe{
  padding:80px 0;
  //background:#f5e9ed;
  .container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    //min-height: 420px;
    background: linear-gradient(
        90deg,
        #44032d 0%,
        #ffffff 100%
    );
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
  }
}
.subscribe-content{
  width:55%;
  padding:50px;
  span{
    color:#e9b8cb;
    font-size:13px;
    letter-spacing:3px;
    font-weight:600;
  }
  h2{
    color:#fff;
    font-size:42px;
    line-height:1.2;
    margin:20px 0;
    max-width:500px;
  }
  p{
    color:#ddd;
    font-size:17px;
    line-height:1.7;
    max-width:450px;
  }

}
.subscribe-form{
  margin-top: 30px;
  display:flex;
  width: 450px;
  background:$bg-color;
  border-radius: 50px;
  padding:6px;
  input{
    flex:1;
    border:none;
    outline:none;
    padding:0 20px;
    font-size:15px;
    margin: 10px;
  }
  button{
    border:none;
    background:#44032d;
    color:white;
    padding:15px 30px;
    border-radius:40px;
    cursor:pointer;
    font-weight:600;
  }
}
.subscribe-image{
  width:45%;
  //height:420px;
  img{

    width:100%;
    height:100%;
    object-fit:cover;

  }
}
.subscribe-image img{

  animation:float 4s ease-in-out infinite;

}

@keyframes float{

  0%,100%{

    transform:translateY(0);

  }

  50%{

    transform:translateY(-18px);

  }

}
.cart-btn{

  position:relative;

  overflow:hidden;

}
.cart-btn::before{

  content:"";

  position:absolute;

  top:0;

  left:-120%;

  width:45%;

  height:100%;

  background:rgba(255,255,255,.45);

  transform:skewX(-25deg);

}

.cart-btn:hover::before{

  left:150%;

  transition:.7s;

}
.points{
  padding:80px 0;
  //background:#f5e9ed;
  .container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    //min-height: 420px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
  }
}
.point-card{
  display: flex;
  align-items: center;
  //gap: 15px;
  padding: 0 25px;
  position: relative;
  .icon{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-light;
    mat-icon{
      font-size: 34px;
      width: 34px;
      height: 34px;
    }
  }
  .content{
    padding: 0;
    h4{
      margin: 0 0 4px;
      font-size: 14px;
      font-weight: 700;
      color: #222;
      letter-spacing: .5px;
    }
    p{
      margin: 0;
      font-size: 13px;
      color: #777;
    }
  }
}

@media(max-width:1200px){

  .products{
    grid-template-columns:repeat(4,1fr);
  }

}
@media (max-width:991px){

  .desktop-hero {
    display: none;
  }

  .mobile-home {
    display: block;
  }

  .category-grid{
    grid-template-columns:repeat(2,1fr);
  }
  .products{
    grid-template-columns:repeat(3,1fr);
  }

  .product-card{
    flex:0 0 33.33% !important;
  }

  .points .container{
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
  }
  .point-card{
    border-right: none !important;
    padding: 0;
  }
}
@media(max-width:768px){

  .products{
    grid-template-columns:repeat(2,1fr);
  }
  .section-header{
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
  }
  .product-card{
    flex:0 0 50% !important;
  }

    .subscribe .container{
      flex-direction:column;
    }
    .subscribe-content{
      width:100%;
      padding:35px;
      h2{
        font-size:32px;
      }
    }
    .subscribe-form{
      width:100%;
      flex-direction:column;
      gap:10px;
      background:none;
      input{
        height:50px;
        border-radius:30px;
      }
      button{
        height:50px;
      }
    }
    .subscribe-image{
      width:100%;
      height:300px;
    }
  }


@media (max-width:576px){


  .category-section{
    padding:60px 0;
  }

  .category-grid{
    grid-template-columns:1fr;
  }

  .section-title h2{
    font-size:30px;
  }
  .products{
    grid-template-columns:1fr;
  }

  .section-header h2{
    font-size:32px;
  }

  .product-image{
    height:350px;
  }
  .product-card{
    flex:0 0 100% !important;
  }
  .points .container{
    //grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .point-card{
    justify-content: flex-start;
    flex-direction: column;
  }


}


